#map {
     height: 90vh;
}
body { background-color: rgb(100, 100, 100); 
margin: 0;}
#player { 
    background-color: rgb(100, 100, 100);
    margin-top: 20;
    margin-left: 55;
    margin-right: 50;
    height: 9vb
}
#video {
    margin:0;
    vertical-align: top;
}
.statusbox {
 width:22vw;
 font: 200;
 font-size: large;
 margin-left: 20;
 margin-top: 10
}
    .image{
        src: 706bbebe8e05422f5d620cedbfc62e0c632eec7a/logos/The MW Engineering;
        width: 120px;
        height: 40px;
        display: inline-block;
        object-position: bottom right;
        padding: 7px;
    }

