#map {
     height: 90vh;
}
body { background-color: rgb(170, 211, 223); 
margin: 0;}
#player { 
    background-color: rgb(170, 211, 223);
    margin-top: 25;
    margin-left: 40;
    height: 9vb
}
#video {
    margin:0;
    vertical-align: top;
}
.statusbox {
 width:48vw
}